<% privacy = 'privacy' if bookmark.privacy? %>
<%= content_tag :li, class: privacy do %>

  <!-- title bookmark -->
  <span class="title">
    <span class="bookmark-title">
      <%= link_to bookmark.title, bookmark.url, target: '_blank' %>
    </span>
    <% if bookmark.privacy? %> 
      <i class="icon-lock" data-placement="right" title="Private Link"></i>
    <% else %>
      <% if signed_in? %>
        <% unless current_user? @user then %>
          <% unless duplicated_url? bookmark.url %>
            <%= link_to user_bookmark_add_path(current_user, bookmark), class: "pull-right" do %>
              <i class="icon-plus"></i>
              save link
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>  
  </span>

  <!-- description bookmark -->
  <span class="desc">
    <%= truncate bookmark.description, length: 500 %>
  </span>

  <!-- tags bookmark -->
  <% if bookmark.associations.any? %>
    <span class="tag">
      <% bookmark.associations.each do |a| %>
        <%= content_tag :a, href: user_tag_search_path(@user, Tag.find(a.tag_id).name) do %>
          <i class="icon-tag"></i><%=Tag.find(a.tag_id).name%>
        <% end %>
      <% end %>
    </span>
  <% end %>

  <!-- timestamp and edit and delete link -->
  <% if current_user? @user %>
    <span class="timestamp">
      Created <%= time_ago_in_words bookmark.created_at %> ago.
      <%= link_to 'edit', edit_user_bookmark_path(@user, bookmark) %>
      <%= link_to 'delete', [@user, bookmark], method: :delete,
        data: { confirm: 'Really ?' } %>
      </span>
    <% end %>
  <% end %>
