<% provide(:title, 'Edit Bookmark') %>
<div class="row">
  <div class="form">
    <h1>Edit bookmark</h1>
    <%= form_for [current_user, @bookmark] do |b| %>
      <%= render 'shared/error_messages' %>
      <%= b.label :url %>
      <%= b.text_field :url %>

      <%= b.label :title %>
      <%= b.text_field :title %>

      <%= b.label :description %>
      <%= b.text_area :description, size: '40x10' %>

      <% tag_value = "" %>
      <% @bookmark.associations.each do |v| %>
        <% tag_value << Tag.find(v.tag_id).name << " " %>
      <% end %>
      <%= label_tag :tags, 'Tags: ' %>
      <%= text_field_tag :tags, tag_value %>      
      <%= hidden_field_tag "hidden", tag_value %>

      <%= b.label :privacy, class: 'checkbox inline' do %>
        <% checked = if @bookmark.privacy? then false else true end %>
        <%= b.check_box :privacy, { checked: checked } , 'false', 'true' %> Make this public
      <% end %>

      <br/><br/>
      <%= b.submit "Save Changes", class: "btn btn-large btn-inverse" %> 
    <% end %>
  </div>
</div>
