<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= link_to @user.name, current_user %>
        <span class="created-at">
          Joined on <%= @user.created_at.strftime("%d %b %Y") %>
        </span>
      </h1>
      <%= render 'stats' %>
    </section>
  </aside>
</div>
<div class="row" id="bookmarks">
  <% if @bookmarks.any? %>
    <h3>Found <%= pluralize(@bookmarks.count, 'bookmark') %></h3>
    <ol>
      <%= render @bookmarks %>
      <%= will_paginate @bookmarks %>
    </ol>
  <% end %>
</div>
